body{
    font-family: 'Optima', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e7f2f8;
    color: #167D7F;
}

button{
    position: center;
}

header{
    background-color: #74BDCB;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 2px;
}

nav ul li{
    display: inline;
    margin: 0 10 px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

main{
    padding: 20px;
}

section{
    margin-bottom: 20px;
}

footer{
    background-color: #98D7C2;
    color: #3D5B59;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#referencia{
    text-align: left;
}